<div class="sidebar-item profile">
    <div class="sidebar-title">Pofile</div>
    <div class="sidebar-content">
        <img src="https://i.gyazo.com/53e5ea3e84a93751cf9ba95a48049ec3.png" alt="Profile Image" width="120"
            height="120">
        <div class="profile-desc">
            <div class="author">Kanon Inoue</div>
            <div class="bio">
                <p>2018年からゲーム業界で働いています。キャラクターアーティスト→セットアップアーティスト→テクニカルアーティスト。ENTJ。</p>
                <p>参加タイトルはシノビストライカー、ニンジャラ、ヴァルキリーエリュシオンなど。</p>
            </div>
        </div>
    </div>
</div>