<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-theme="light">

<head>
  {{ partial "head.html" . }}
</head>

<body id="top">
  <div class="wrapper">
    <header>
      {{ partial "header.html" . }}
    </header>
    <div class="container">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <aside>
        {{ partial "sidebar.html" . }}
      </aside>
    </div>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partial "to_top.html" . }}
  </div>
</body>

</html>