{{ define "main" }}
<div class="single-meta">
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ .Date.Format "2006-01-02" }}</time>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</div>

<div class="single-content">
  {{ .Content }}
</div>


<div class="pagination">
  {{ if .NextInSection }}
    <div class="single-pagination next">
      <a href="{{ .NextInSection.RelPermalink }}">← {{ .NextInSection.Title }}</a>
    </div>
  {{ else }}
    <div class="single-pagination next"></div>
  {{ end }}

  {{ if .PrevInSection }}
    <div class="single-pagination prev">
      <a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }} →</a>
    </div>
  {{ else }}
    <div class="single-pagination prev"></div>
  {{ end }}
</div>

{{ end }}