.articles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    article.li {

        height: 100%;

        ::after {
            content: none !important;
        }

        .thumb {
            height: auto;
            aspect-ratio: 21 / 9;
        }

        .title {
            line-clamp: 2;
            line-height: 1.5rem;
            min-height: 3rem;
        }

        .summary {
            height: auto;
            flex-grow: 1;
        }
    }
}

.articles.sm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    
    .lism {
        margin: 0;
    }
}

div.article-body {
    video {
        object-fit: contain;
        max-width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}

article.sn {
    .article-body {
        font-size: .9rem;

        p {
            font-size: inherit;
        }

        em {
            color: Crimson;
        }
    }
}

.l-footer {
    margin-top: auto;
    margin-bottom: 0;
}