html {
    font-size: 18px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-weight: 350;
}

body {
    font-family: inherit;

    main {
        margin-top: 1rem;
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;

        @media (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        article.li {
            height: auto;
            margin: 0;

            ::after {
                content: none !important;
            }

            .thumb {
                height: auto;
                aspect-ratio: 21 / 9;
            }

            .title {
                line-clamp: 2;
                line-height: 1.5rem;
                min-height: 3rem;
            }

            .summary {
                height: auto;
                flex-grow: 1;
                font-size: 85%;
                line-height: 1.2rem;
            }
        }
    }

    .articles.sm {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;

        .lism {
            margin: 0;
        }
    }

    div.article-body {
        video {
            object-fit: contain;
            max-width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
        }

        a:not(:has(img)) {
            font-weight: bold;
            border-bottom: dashed 1px #2196f3;
        }
    }

    article.sn {
        .article-body {
            font-size: .85rem;

            p {
                font-size: inherit;
            }

            em {
                color: inherit;
                background: linear-gradient(transparent 70%, rgba(255, 122, 122, 0.3) 30%);
            }
        }
    }

    .l-footer {
        margin-top: auto;
        margin-bottom: 0;
    }
}

.spoiler-container {
    margin: 1em 0;
    font-family: inherit;

    .spoiler-toggle {
        display: block;
        background-color: #2196f3;
        color: white;
        padding: 0.5em 1em;
        margin-bottom: 0;
        border: none;
        cursor: pointer;
        font-size: 1em;
        border-radius: 2px;
        width: 100%;
    }

    .spoiler-content {
        overflow: hidden;
        max-height: 0;
        padding: 0 1em;
        background-color: #eee;
        border-left: 4px solid #80bff1;
        border-radius: 2px;
        transition: max-height 0.4s ease, padding 0.4s ease;
    }

    .spoiler-content.open {
        /* padding は JavaScript側で制御しないので、固定でもOK */
        padding: 0.5em 1em;
    }
}


/* Custom styles for the search page */
.search-form {
    margin-bottom: 4em;

    input {
        color: #2196f3;
        font-size: 1.2em;
        font-family: inherit;
        font-weight: bolder;
        width: 480px;
        padding: 0.5em;
        border: 1px solid #ccc;
        /* 薄いグレー */
        border-radius: 4px;
        font-size: 1em;
        box-sizing: border-box;
    }

    input::-webkit-input-placeholder {
        color: #89b8df;
    }

    #result {
        margin: 1em;
    }

    .item {
        margin-top: 1.65em;
    }

    .item_title {
        text-decoration: none;
        color: #2196f3;
        font-weight: bolder;
    }

    a.item_title {
        border-bottom: none !important;
    }

    .item_excerpt {
        background: white;
        margin: 0.5em 0;
        margin-left: 1em;
        padding: 0.5em;
        border: dashed 1px lightgray;
        font-size: smaller;
    }

    .item_excerpt b {
        background: #ffe7a3;
    }
}

input#searchKeyword {
    color: #333;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: bolder;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    /* 薄いグレー */
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

input#searchKeyword::placeholder {
    color: #aaa;
    /* 薄いグレー */
    font-style: italic;
    /* イタリックにしたい場合 */
    letter-spacing: 1px;
    /* 少し広め */
}

input#searchButton {
    display: none;
}